<div class="parent" *ngIf="isLoading">
    <mat-spinner ></mat-spinner>
    
</div>
<div  *ngIf="!isLoading">

    <mat-accordion multi="true" *ngIf="posts.length > 0">
        <mat-expansion-panel *ngFor="let item of posts">
            <mat-expansion-panel-header>
                {{item.title}}
            </mat-expansion-panel-header>
            <div class="post-image">
                <img [src]="item.imagePath" [alt]="item.title">
            </div>
            <hr>
            <p> {{item.content}}</p>
           
            <mat-action-row>
             <button mat-raised-button color="primary" (click)="onEdit(item.id)">Edit</button>
             <button mat-raised-button color="warn" (click)="onDelete(item.id)">Delete</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator [length]="totalPost"
              [pageSize]="postsPerPage"
              (page)="onChangedPage($event)"
              [pageSizeOptions]="pageSizeOption"
              aria-label="Select page">
</mat-paginator>
</div>

<p *ngIf="posts?.length === 0" class="info-text">No Post Available yet!</p>