
textarea{
    width: 100%;
}
.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24rem;
}
input[type='file']{
 visibility: hidden;
}
.image-preview{
    height:5rem;
    margin: 1rem 0;
}
.image-preview img {
    height: 100%;
}